@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<div style="text-align:center;padding-top:50px">
    <a asp-action="Filmler"><h3>@Localizer["Movie"]</h3></a><br />
    <a asp-action="Oyuncular"><h3>@Localizer["Actor"]</h3></a><br />
    <a asp-action="Yonetmenler"><h3>@Localizer["Director"]</h3></a><br />
    <a asp-action="Kullanicilar"><h3>@Localizer["User"]</h3></a>
</div>
<br />