@using Microsoft.AspNetCore.Mvc.Localization
@model WebProgramlamaProje.Models.Film
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["Title"];
}

<h1>@Localizer["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="FilmSubmit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FilmAd" class="control-label"></label>
                <input asp-for="FilmAd" class="form-control" />
                <span asp-validation-for="FilmAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmCikis" class="control-label"></label>
                <input asp-for="FilmCikis" class="form-control" />
                <span asp-validation-for="FilmCikis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmDesc" class="control-label"></label>
                <textarea maxlength="1000" asp-for="FilmDesc" class="form-control"></textarea>
                <span asp-validation-for="FilmDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmTur" class="control-label"></label>
                <select asp-for="FilmTur" class="form-control">
                    <option value="Aksiyon">Aksiyon</option>
                    <option value="Bilim Kurgu">Bilim Kurgu</option>
                    <option value="Aşk">Aşk</option>
                    <option value="Korku">Korku</option>
                </select>
                <span asp-validation-for="FilmTur" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="YonetmenID" class="control-label"></label>
                <select asp-for="YonetmenID" class="form-control" asp-items="@ViewBag.Yonetmen"></select>
                <span asp-validation-for="YonetmenID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OyuncuID" class="control-label"></label>
                <select asp-for="OyuncuID" class="form-control" asp-items="@ViewBag.Oyuncular"></select>
                <span asp-validation-for="OyuncuID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Filmi Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
