@model WebProgramlamaProje.Models.Oyuncu

@{
    ViewData["Title"] = "Oyuncu Ekle";
}

<h1>Oyuncu Ekle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="OyuncuSubmit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OyuncuAd" class="control-label"></label>
                <input asp-for="OyuncuAd" class="form-control" />
                <span asp-validation-for="OyuncuAd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OyuncuYas" class="control-label"></label>
                <input asp-for="OyuncuYas" class="form-control" />
                <span asp-validation-for="OyuncuYas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OyuncuCinsiyet" class="control-label"></label>
                <select asp-for="OyuncuCinsiyet" class="form-control">
                    <option value="Erkek">Erkek</option>
                    <option value="Kadın">Kadın</option>
                </select>
                <span asp-validation-for="OyuncuCinsiyet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OyuncuDesc" class="control-label"></label>
                <textarea maxlength="1000" asp-for="OyuncuDesc" class="form-control"></textarea>
                <span asp-validation-for="OyuncuDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
