@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Consume">
    <label for="id">Film ID:</label><br />
    <input id="id" name="id" type="number" /><br /><br />
    <input type="submit" value="Consume"/>
</form>