@{
    ViewData["Title"] = "Home Page";
}


@model WebProgramlamaProje.Models.Film

<div class="container">
    <div class="row" style="margin-bottom:50px">
        <div class="col-md">
            <h6 class="text-center"> Aksiyon</h6>
            <div id="carouselAksiyon" class="carousel slide" style="width:min-content" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div style="background-color:gray;height:360px;aspect-ratio:0.67" class="d-block"></div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div style="background-color:gray;height:360px;aspect-ratio:0.67" class="d-block"></div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div style="background-color:gray;height:360px;aspect-ratio:0.67" class="d-block"></div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <h6 class="text-center"> Bilim Kurgu</h6>
            <div id="carouselScifi" class="carousel slide" style="width:min-content" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div style="background-color:gray;height:360px;aspect-ratio:0.67" class="d-block"></div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div style="background-color:gray;height:360px;aspect-ratio:0.67" class="d-block"></div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div style="background-color:gray;height:360px;aspect-ratio:0.67" class="d-block"></div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>

                        </div>
                    </div>
                </div>
                </button>
            </div>
        </div>
        <div class="col-md">
            <h6 class="text-center" style="text-decoration:line-through;color:red">Aşk</h6>
            <div id="carouselL" class="carousel slide" style="width:min-content" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div style="background-color:gray;height:360px;aspect-ratio:0.67" class="d-block"></div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div style="background-color:gray;height:360px;aspect-ratio:0.67" class="d-block"></div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div style="background-color:gray;height:360px;aspect-ratio:0.67" class="d-block"></div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <h6 class="text-center"> Korku</h6>
            <div id="carouselKorku" class="carousel slide" style="width:min-content" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div style="background-color:gray;height:360px;aspect-ratio:0.67" class="d-block"></div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div style="background-color:gray;height:360px;aspect-ratio:0.67" class="d-block"></div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Second slide label</h5>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div style="background-color:gray;height:360px;aspect-ratio:0.67" class="d-block"></div>
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Third slide label</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color:aqua">
        <h5 class="text-center">En iyiler</h5>
        <div class="row">
            <div class="col-md"><div style="background-color:mediumvioletred;" class="d-block movie-cover"><h5 class="movie-caption">Başlık</h5><h5 class="movie-rating">5</h5></div></div>
            <div class="col-md">
                <div style="background-color:green;" class="d-block movie-cover"><h5 class="movie-caption">Başlık</h5><h5 class="movie-rating">5</h5></div>
            </div>
            <div class="col-md">
                <div style="background-color:darkblue;" class="d-block movie-cover"><h5 class="movie-caption">Başlık</h5><h5 class="movie-rating">5</h5></div>
            </div>
            <div class="col-md">
                <div style="background-color:linen;" class="d-block movie-cover"><h5 class="movie-caption">Başlık</h5><h5 class="movie-rating">5</h5></div>
            </div>
        </div>

    </div>
</div>
</div>
